{% extends 'base.html.twig' %}

{% block title %}
	Accueil
	{{ parent() }}!
{% endblock %}

{% block body %}
<h2>Besoin de nous, réserver le meilleurs prestataire adapter à vos besoins</h2>
{{ render(controller('App\\Controller\\Users\\PrestationController::new')) }}
	{% endblock %}
