{% extends 'base.html.twig' %}

{% block title %}Editer une Prestation{% endblock %}

{% block body %}
    <h1>édition d'une prestation</h1>
    <a href="{{ path('home') }}">retour à l'accueil</a>
    {{ include('prestation/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    {% endblock %}
