{% block body %}
		<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Réservé une prestation
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
<p>Réserver une prestation</p>
{{ include('prestation/_form.html.twig') }}
    				</div>
    {% endblock %}
