{% extends 'base.html.twig' %}

{% block title %}Demander une prestation{% endblock %}

{% block body %}
    <h1>Demander une prestation</h1>
<a href="{{ path('prestation_index') }}">retour à mes prestations</a>
    {{ include('prestation/_form.html.twig') }}
    {% endblock %}
