<p>Je me permet de vous contacter pour le sujet suivant:</p>
{{ request }}
<p>Vous pouvez me joindre au numéro de téléphone suivant: {{ phone }}</p>
<p>Mais aussi par email {{ addemail }}</p>
<p>Voici ma demande:</p>
{{ content }}