<footer	class="page-footer font-small blue pt-4">
	<div	class="container-fluid text-center text-md-right">
		<div			class="row">
<div class="col-md-3 mb-md-0 mb-3">
				<h5 class="text-uppercase">Sahreply & vous</h5>
				<ul class="list-unstyled">
					<li>
						<a href="#!">CGU</a>
					</li>
					<li>
						<a href="#!">CGV</a>
					</li>
					<li>
						<a href="#!">On recrute</a>
					</li>
					<li>
						<a href="#!">Nous contacter</a>
					</li>
				</ul>
			</div>

		<div class="footer-copyright text-center py-3">© SAHREPLY 2020 :
		DESIGNED BY HACENE Sahraoui
</div>
</div>
</div>

</footer>