<footer	class="page-footer font-small blue pt-4">
	<div	class="container-fluid text-center text-md-right">
		<div			class="row">
<div class="col-md-3 mb-md-0 mb-3">
				<h5 class="text-uppercase">Sahreply & vous</h5>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v9.0" nonce="dXhtQDoh"></script>
<div class="fb-like" data-href="https://www.facebook.com/Sahreply-101036832043176" data-width="" data-layout="standard" data-action="recommend" data-size="large" data-share="true"></div>				<ul class="list-unstyled">
					<li>
						<a href="{{ path("home_contact") }}">Nous contacter</a>
					</li>
<h2>à propos</h2>
					<li>
						<a href="#!">CGU</a>
					</li>
					<li>
						<a href="#!">CGV</a>
					</li>
					<a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">
						<img alt="Licence Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png"/>
					</a>
					<br/>
					Ce(tte) œuvre est mise à disposition selon les termes de la
					<a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">
						Licence Creative Commons Attribution - Pas d&#39;Utilisation Commerciale - Pas de Modification 4.0 International
					</a>
					.
				
			</div>

		<div class="footer-copyright text-center py-3">© SAHREPLY 2020 :
		DESIGNED BY HACENE Sahraoui
</div>
</div>
</div>

</footer>